body {
    font-family: "Arial", sans-serif;
    background-color: white;
    height: 1000px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  form {
    max-width: 800px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: left;
  }
  
  .label-cell {
    width: 30%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-cell {
    width: 70%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path d="M1 0l5 5 5-5z" fill="%23333"/></svg>');
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 12px 6px;
  }
  
  .button-cell {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  
  button.button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.button[type="submit"]:hover {
    background-color: darkgreen;
  }
  